# ─── Question DB — Shard A ───────────────────────────────────────────────────
# Temas: history, science, geography, arts_and_literature, society_and_culture
DB_SHARD_A_HOST=localhost
DB_SHARD_A_PORT=5432
DB_SHARD_A_NAME=questions_shard_a
DB_SHARD_A_USER=trivia
DB_SHARD_A_PASS=trivia

# ─── Question DB — Shard B ───────────────────────────────────────────────────
# Temas: music, sport_and_leisure, film_and_tv, food_and_drink, general_knowledge
DB_SHARD_B_HOST=localhost
DB_SHARD_B_PORT=5433
DB_SHARD_B_NAME=questions_shard_b
DB_SHARD_B_USER=trivia
DB_SHARD_B_PASS=trivia


# ─── User DB ───────────────────────────────────────────────────

DB_USERDB_NAME=trivia_users
DB_USERDB_USER=trivia
DB_USERDB_PASS=trivia_pass
DB_USER_PRIMARY_HOST=localhost
DB_USER_PRIMARY_PORT=5434
DB_USER_REPLICA_HOST=localhost
DB_USER_REPLICA_PORT=5435

# ─── Redis ───────────────────────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379

# ─── Kafka ───────────────────────────────────────────────────────────────────
KAFKA_BROKERS=localhost:9092

# ─── Game Service ─────────────────────────────────────────────────────────────
GAME_QUESTION_TIMEOUT_MS=20000
GAME_ROOM_TTL_SECONDS=3600
