DB_USER_PRIMARY_HOST=localhost
DB_USER_PRIMARY_PORT=5434
DB_USER_REPLICA_HOST=localhost
DB_USER_REPLICA_PORT=5435
DB_USERDB_NAME=trivia_users
DB_USERDB_USER=trivia
DB_USERDB_PASS=trivia_pass
KAFKA_BROKERS=localhost:9092