SERVER_PORT=8080
GRPC_SERVER_PORT=9090
DB_SHARD_A_HOST=localhost
DB_SHARD_A_PORT=5432
DB_SHARD_A_NAME=questions_shard_a
DB_SHARD_A_USER=trivia
DB_SHARD_A_PASS=trivia
DB_SHARD_B_HOST=localhost
DB_SHARD_B_PORT=5433
DB_SHARD_B_NAME=questions_shard_b
DB_SHARD_B_USER=trivia
DB_SHARD_B_PASS=trivia
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
GAME_QUESTION_TIMEOUT_MS=30000
GAME_ROOM_TTL_SECONDS=3600
GAME_LEADER_LEASE_MS=10000
GAME_RECOVERY_SCAN_MS=1000

